button {
  padding: 0.5em .8em;
  border-radius: 6px;
  background-color: green;
  color: white;
  border:chartreuse;
  cursor: pointer;
  transition: background-color .3s;
  margin: .8em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* Add some margin to create spacing between buttons */
button + button {
  margin: 10px;
}

button:hover {
  background-color: darkgreen;
}
/* input,
.enterBitrate{
  padding: 0.3em .3em;
  border-radius: 6px;
  margin: .2em;
}
input,
.checkbox {
  margin: .6em;
  margin-right: -.4em;
  
}
.checkbox-input:checked + .checkbox-label {
  font-weight: bold;
  color: green;
} */