.logo-container {
  background-image: url('./assets/logoPlain.png'); /* Replace with the actual path to your logo */
  background-size: auto;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
